

body {
    background: url(https://www.teahub.io/photos/full/14-142213_abstract-wallpaper-purple-butterfly-wallpaper-mobile-dark-purple.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}

.textos-header{
    display: flex;
    align-items: center;
    height: 230px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    align-items: center;
    font-size: 60px;
    color:rgb(237, 213, 247);
}

.textos-header h2{
    align-items: center;
    font-size: 40px;
    font-weight: 300;
    color:rgb(215, 210, 218);
}

.contenedor {
    text-align: center;
    background: #851bff69;
    color: #FFF;
    align-items: center;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;

}



