<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login </title>
</head>
<body>
    <section class="textos-header">
        <h1>Mariposa</h1>
        <h2>Libreria</h2>
    </section>

    <br>
    <br>
    <div class="contenedor">
        <div >
            <h1> Error </h1>
        </div>
        
        <div class="contenedor">
            <h2>Usuario no encontrado</h2>
            <h3>Usuario mal ingresado, por favor volver a intentar</h3>
            <button background=#851bffec >Ingreso</button>
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
  </body>
</html>