<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <section class="textos-header">
        <h1>Mariposa</h1>
        <h2>Libreria</h2>
    </section>
   
        <div class="formulario">
            <h2>Crear Cuenta</h2>
            <form action="#">
                <input type="text" placeholder="Usuario" required>
                
                <input type="password" placeholder="Contraseña" required>
                
                <input type="email" placeholder="Correo Electronico" required>
                
                <input type="text" placeholder="Teléfono" required>
                
                <input type="submit" value="Registrarse">
            </form>
        </div>

</body>
</html>