<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prueba</title>
       
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <img src="url(https://s2.best-wallpaper.net/wallpaper/1280x800/1703/Library-many-books_1280x800.jpg);" alt="">
        <nav>
            <a href="#">Carrito</a>
        </nav>
        <section class="textos-header">
            <h1>Frase</h1>
            <h2>Acronimo</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Libreria Virual</h2>
            <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                        consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                        velit doloribus laboriosam ut.</p>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Productos Disponibles</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section >
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                        <img src="https://i.pinimg.com/236x/3c/d6/aa/3cd6aa922c9bbe12cb6b4e15613f93c0.jpg" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>9/01/2022</h4>
                
            </div>
            
        </div>
        <h2 class="titulo-final">tecnico salesiano</h2>
    </footer>
</body>

</html>