<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
       </head>

<body>
    <header>
        <img src="url(https://s2.best-wallpaper.net/wallpaper/1280x800/1703/Library-many-books_1280x800.jpg);" alt="">
        <nav>
            <button (click)="borrar()">Tienda</button>
            <button (click)="nav3()">Lilian</button>

        </nav>
        <section class="textos-header">
            <h1>Mariposa</h1>
            <h2>Libreria</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
       
        <section class="productos">
            <div class="contenedor">
                <h2 class="titulo">Productos Añadidos a su carrito</h2>
                <h3>{{m1}}</h3>
                <h3>{{m2}}</h3>
                <h3>{{m3}}</h3>
                <h3>{{m4}}</h3>
                <h3>{{m5}}</h3>
                <h3>{{m6}}</h3>
                <h3>{{m7}}</h3>
                <h3>{{m8}}</h3>
               </div>
            <div class="contenedor">
                <h2 class="titulo">Facturar</h2>
                <button (click)="nav2()">Comprar</button>
                
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>9/01/2022</h4>
                
            </div>
            
        </div>
        <h2 class="titulo-final">tecnico salesiano</h2>
    </footer>
</body>

</html>