<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
       </head>

<body>
    <header>
        <img src="url(https://s2.best-wallpaper.net/wallpaper/1280x800/1703/Library-many-books_1280x800.jpg);" alt="">
        <nav>
            <a href="#">Tienda</a>
            <a href="#">Lilian</a>

        </nav>
        <section class="textos-header">
            <h1>Mariposa</h1>
            <h2>Libreria</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
       
        <section class="productos">
            <div class="contenedor">
                <h2 class="titulo">Productos Añadidos a su carrito</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/dd/fb/04/ddfb04448922676cd7b123591ebfe4d9.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Temática: Fantasía<br>
                                Número de páginas: 344<br>
                                La nación del sol y el reino de la luna han logrado mantener la paz durante un milenio, pero hoy todo parece estar perdido: la reina Virian ha desaparecido y los vientos de guerra amenazan ambos territorios.</p>
                                <button>Agregar</button>
                            </div>
                       
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/c1/fc/65/c1fc651b2cb2668aed90072246682efe.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Editorial: Editorial Planeta<br>
                                Temática: Novela contemporánea<br>
                                Mi mundo cambió en el instante en el que pisé el instituto Katmere. Aquí todo resulta extraño: la escuela, los alumnos, las asignaturas; y yo no soy más que una simple mortal entre ellos, dioses... o monstruos. Todavía no sé a qué bando pertenezco, si es que pertenezco a alguno, sólo sé que lo que parece unirlos a todos es su odio hacia mí.

                                Pero entre ellos está Jaxon Vega, un vampiro que esconde oscuros secretos y que no ha sentido nada durante un siglo.</p>
                                <button>Agregar</button>
                            </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/11/06/8f/11068f6ba4f2479240a02f47f677e700.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Temática: Fantasía Terror<br>
                                Número de páginas: 272<br>
                                oco después de la muerte de su hija, Charles y su mujer Erin, descendiente de Hollow, heredan la casa de su antecesor y deciden mudarse al pequeño pueblo inglés donde se encuentra. Pero Hollow House y el bosque que la envuelve están repletos de misterios y secretos que parecen revivir con la llegada de la pareja al pueblo. Ecos de viejas historias empiezan a resonar por la biblioteca de Hollow House. Historias tan antiguas y oscuras como el bosque que les rodea.</p>
                                <button>Agregar</button>
                            </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/d6/ee/4e/d6ee4e8c90eb04feeb2ccff3ec736ca7.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Julio Verne<br>
                                Narra la aventura de un grupo de astrónomos que viaja a la Luna en una cápsula impulsada por cañones, explora la superficie del satélite, escapa de un grupo subterráneo de selenitas (habitantes lunares) y regresa a la Tierra con un selenita cautivo.</p>
                                <button>Agregar</button>
                            </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/05/50/b0/0550b093bfb055f569a1e7d18229aab7.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Materia: Literatura universal<br>
                                Páginas: 272<br>Dorian Gray es un joven aristócrata muy atractivo. Después de haber pasado una solitaria adolescencia en el campo regresa a Londres, donde ha heredado una mansión. Atraído por la vida nocturna, se sumerge en ella de la mano de Lord Henry Wottom.

                            </p>
                            <button>Agregar</button>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/f5/62/b3/f562b338d994b53bbd5fbe8270929df8.jpg" alt="">
                        <div class="hover-galeria">
                             <p>Aquiles, el mejor de los griegos, es todo lo que no es Patroclo: fuerte, apuesto, hijo de una diosa. Un día Aquiles toma bajo su protección al lastimoso príncipe y ese vínculo provisional da paso a una sólida amistad mientras ambos se convierten en jóvenes habilidosos en las artes de la guerra.</p>
                             <button>Agregar</button>
                            </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/45/23/13/452313dc608bfe084dec25dcc4fc8d6f.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Sinopsis: <br>
                                En 1923, Helena Lennox tiene diecisiete años y un único deseo: sustituir las calles de Londres por una vida de aventuras y excavaciones en tierras lejanas. En consecuencia, cuando sus padres se marchan a la India para investigar la desaparición de unos arqueólogos, ella decide acompañarlos?</p>
                                <button>Agregar</button>
                            </div>
                    </div>
                    <div class="imagen-port">
                        <img src="https://i.pinimg.com/236x/bb/69/45/bb694586ed69e5b0031cc7c64b3238a5.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Sinopsis: <br>
                                Se quedó huérfana después de la guerra y lo único que tiene en el mundo es a su amigo Mal. A raíz de un ataque que recibe Mal al entrar en La Sombra, una oscuridad antinatural repleta de monstruos que ha aislado el país, Alina revela un poder latente que ni ella misma sabía que tenía.</p>
                                <button>Agregar</button>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="contenedor">
                <h2 class="titulo">Facturar</h2>
                <button>Comprar</button>
                
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>9/01/2022</h4>
                
            </div>
            
        </div>
        <h2 class="titulo-final">tecnico salesiano</h2>
    </footer>
</body>

</html>